<div class="app" ng-app='northwind'>
  <div ng-controller="MainController">
    <h3>Categories</h3>
    <div class="category_list">
    <span class="categories clickable" ng-repeat="item in data.categories" ng-click="setCurrentCat(item)">
      {{item.category_name}}
    </span>
    </div><div class="category_list">

      or search for: <input id="searcher" name="searcher" ng-model="search_text" 
      ng-change="findProductsFromSearch()">
      Add a category: 
      <input ng-model="new_category_name">
      <button class="button tiny" ng-click="saveNewCategory()">Save</button>
    </div>

    
    <h3 ng-show="products_to_show.length > 0">Products matching {{product_list_descriptor}}</h3>
    <div id="product_list" ng-show="products_to_show.length > 0">
      <products products="products_to_show" 
      updateprodlist="ordersFor(product)"
      set-stock-level-class="stockLevelClass(thisisjustakey)"
      descriptor="product_list_descriptor"></products>
    </div>

    <div ng-show="search_results">
      <div ng-repeat="item in search_results">
        {{item}}
      </div>
    </div>

    
   <div class="order_container" ng-show="current_orders">
      <h3 id="order_history" ng-show="current_orders">Order history</h3>
      <div class="order_history" ng-show="current_orders">
        <orders orders="current_orders" updatecustomer="updateCustomer(order)" ></orders>
      </div><div class="customer_details" ng-show="cust_to_display">
       <div class="cust_detail">
          <h4>Customer details</h4>
          {{cust_to_display.contact_name}}<br>
          {{cust_to_display.contact_title}}<br><br>

          {{cust_to_display.company_name}} <br><br>
          
          {{cust_to_display.city}}
          {{cust_to_display.region}}<br>
          {{cust_to_display.country}}<br>
          {{cust_to_display.phone}}<br>
        </div>
        

      </div>

    </div>

  </div>

</div>