<div ng-app='northwind'>
  <div ng-controller="MainController">
    <h3>Categories</h3>
    <div class="categories clickable" ng-repeat="item in data.categories" ng-click="setCurrentCat(item)">
      {{item.category_name}}
    </div>

    <div>
      or search for: <input id="searcher" name="searcher" ng-model="search_text" 
      ng-change="findProductsFromSearch()">
    </div>

    <products products="products_to_show" 
    updateprodlist="ordersFor(product)"
    descriptor="product_list_descriptor"></products>

    <div ng-show="search_results">
      <div ng-repeat="item in search_results">
        {{item}}
      </div>
    </div>

    <div ng-show="current_orders">
      <h3>Order history</h3>
      <orders orders="current_orders"></orders>
    </div>

  </div>

</div>