<div ng-app='northwind'>
  <div ng-controller="MainController">
    <h3>Categories</h3>
    <div class="categories clickable" ng-repeat="item in data.categories" ng-click="setCurrentCat(item)">
      {{item.category_name}}
    </div>

    <div ng-show="current_cat">
      <h3 >Products in {{current_cat.category_name}}</h3>
      <table id="product_details">
         <tr>
          <th>Product name</th>
          <th>Qty per unit</th>
          <th class="numeric">In stock</th>
          <th class="numeric">Reorder level</th>
        </tr>
        <tr class="product" ng-click="ordersFor(product)" ng-repeat="product in data.products | matchesOn:'category_id':current_cat.id">
           <td class="clickable product_name" ng-bind="product.product_name"></td>
           <td class="qty_per_unit" ng-bind="product.quantity_per_unit"></td>
           <td ng-class="stockLevelClass(product)" class="numeric units_in_stock" ng-bind="product.units_in_stock"></td>
           <td class="numeric reorder_level" ng-bind="product.reorder_level"></td>
        </tr>
      </table>
    </div>

    <div ng-show="search_results">
      <div ng-repeat="item in search_results">
        {{item}}
      </div>
    </div>

  </div>

</div>