<div ng-app='northwind'>
  <div ng-controller="MainController">
    <h3>Categories</h3>
    <div class="categories clickable" ng-repeat="item in data.categories" ng-click="setCurrentCat(item)">
      {{item.category_name}}
    </div>

    <div>
      or search for: <input id="searcher" name="searcher" ng-model="search_text" 
      ng-change="findProductsFromSearch()">
    </div>

    <products products="products_to_show" 
    updateprodlist="ordersFor(product)"
    descriptor="product_list_descriptor"></products>

    <div ng-show="search_results">
      <div ng-repeat="item in search_results">
        {{item}}
      </div>
    </div>

    <div ng-show="current_orders">
      <h3>Order history</h3>
      <table id="current_orders" >
        <tr>
          <th>Company Name</th>
          <th>Address</th>
          <th>Country</th>
          <th>Order Date</th>
          <th>Shipped Date</th>
        </tr>
        <tr ng-repeat="order in current_orders">
          <td ng-bind="order.customer.company_name"></td>
          <td ng-bind="order.customer.address"></td>
          <td ng-bind="order.customer.country"></td>
          <td ng-bind="order.order_date"></td>
          <td ng-bind="order.shipped_date"></td>
        </tr>
      </table>
    </div>

  </div>

</div>