// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$shade_color: #FEE;

body {
	font-family: arial, helvetica, sans-serif;
}
.clickable {
  text-decoration:underline;
  cursor: pointer;
}

table#product_details {
  td, th {
     padding: 2px 10px;
  }

  td.product_name {
    width:250px;
  }
  td.qty_per_unit  {
    width:190px;
  }

  .numeric {
     text-align:right;
     width:100px;
  }
  .stock_level_danger {
  color:red;
  }

}
div#product_list {
  max-height:250px;
  overflow: scroll;
  
}
div.order_container {
  background-color: $shade_color;
  overflow:hidden;
}

div.order_history {
  float:left;
  width:60%;
  height:250px;
  overflow: scroll;
  padding: 5px 0;
  background-color: $shade_color;
}
div.customer_details {
  float:right;
  width:40%;
  height:250px;
  overflow: scroll;
  padding: 0;
  background-color: $shade_color;
  div.cust_detail {
    padding: 0 10px;
  }
}
span.categories {
  display:inline-block;
  margin-right:5px;
}