// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$shade_color: #EEE;
$left_side_w: 600px;

body {
	font-family: arial, helvetica, sans-serif;
}
h3 {
  font-size: 1.2em;
  margin-top: 10px;
  background-color: $shade_color;
}

div.app {
  padding: 10px;
}
.clickable {
  text-decoration:underline;
  cursor: pointer;
}

#section_left {
  float:left;
  width: $left_side_w;
  line-height: 2em;
}

#section_right {
float:  right;
  padding: 4px;
  ul {
  margin:0;
  list-style: none;
  }
}
div.clear {
  clear: both;
}

div.category_list {
  
}
  

table#product_details {
  td, th {
     padding: 2px 10px;
  }

  td.product_name {
    width:250px;
  }
  td.qty_per_unit  {
    width:190px;
  }

  .numeric {
     text-align:right;
     width:100px;
  }
  .stock_level_danger {
  color:red;
  }

}
div#product_list {
  max-height:150px;
  width:$left_side_w;
  overflow: scroll;
  
}
div.order_container {
  overflow:hidden;
}

div.order_history {
  float:left;
  width:70%;
  height:250px;
  overflow: scroll;
  padding: 5px 0;
  margin: 0;
}
div.customer_details {
  float:right;
  width:30%;
  height:250px;
  overflow: scroll;
  padding: 0;
  div.cust_detail {
    padding: 0 20px;
    margin:0;
    background-color: white;
  }
}
span.categories {
  display:inline-block;
  margin-right:5px;
}